.title {
    text-align: center;
    color: blueviolet;
}

.text {
    text-align: center;
    margin-bottom: 5rem;
}

.container {
    margin: auto;
    max-width: 1200px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.team-card {
    width: calc(100% / 3 - 20px);
    box-sizing: border-box;
    display: flex;
}
.card-image {
    padding-right: 10px;

}